@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-background text-white
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #DADADA;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #8A94A470;
  border-radius: 10px;
}
